article {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .location {
    display: flex;
    margin-bottom: 1em;
    gap: .3em;
    font-size: 10px;
    width: 100%;

    p {
      opacity: 50%;
    }

    span {
      font-weight: bold;
      color: #E93A7D;
    }
  }

  .prod-imgs {
    // background-color: burlywood;
    width: 53%;
    display: flex;
    justify-content: space-between;

    .small-img {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;

      div {
        border: 1px solid rgba(0, 0, 0, 0.250);
        border-radius: 10px;
        height: 5em;
        width: 5em;
      }
    }

    .large-img {
      background-color: rgba(245, 245, 245, 0.562);
      width: 80%;
      border-radius: 10px;
      max-height: 450px;
      position: relative;
      span{
        font-size: 12px;
        font-weight: bold;
        border-radius: 5px;
        position: absolute;
        right: .5em;
        top: .5em;
        color: #FFFFFF;
        background-color: #E93A7D;
        padding: 0 .5em;

      }
    }

  }

  .detail-product {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: .5em;

    .desc {
      h4 {
        font-size: 24px;
        color: #1E0E62;
      }

      p {
        font-size: 10px;
        opacity: 50%;
      }
    }

    .price {
      .value {
        display: flex;
        gap: 1em;
        align-items: baseline;

        span {
          font-size: 10px;
          opacity: 50%;
          text-decoration: line-through;
        }

        h5 {
          font-size: 24px;
          color: #E93A7D;
        }
      }

      p {
        color: #06005B;
        font-size: 14px;
      }
    }

    .color {
      p {
        font-size: 10px;
        opacity: 50%;
      }

      .name-color {
        display: flex;
        gap: .5em;

        div {
          cursor: pointer;
          width: 30px;
          height: 30px;
          border: 1px solid;
          border-radius: 50%;
        }
      }
    }

    .size {
      p {
        font-size: 10px;
        opacity: 50%;
      }

      .name-size {
        display: flex;
        gap: .5em;

        div {
          cursor: pointer;
          display: flex;
          width: 30px;
          height: 30px;
          border: 2px solid rgba(0, 0, 0, 0.250);
          border-radius: 50%;
          align-items: center;
          justify-content: center;

          p {
            font-size: 16px;
          }
        }
      }
    }

    .order-detail {
      display: flex;
      justify-content: space-between;

      .quantity {
        width: 25%;
        display: flex;
        gap: 1em;
        align-items: center;

        .btn-qnt {
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-color: #25DAC5;
          font-size: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        span {
          font-size: 14px;
        }
      }

      .btn-buy {
        cursor: pointer;
        background-color: #25DAC5;
        color: #2F1893;
        border-radius: 100px;
        height: 40px;
        width: 70%;
        border: none;
        font-weight: bold;
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 1em;

        svg {
          width: 20px;
          height: 20px;
        }
      }

    }
  }

  .details {
    .description {
      summary {
        width: 100%;
        padding: 0.5rem 0;
        position: relative;
        cursor: pointer;
        font-weight: 300;
        list-style: none;

        font-size: 16px;
        color: #1E0E62;

        &::after {

          content: "+";
          position: absolute;
          font-size: 1.75rem;
          line-height: 0;
          margin-top: 0.75rem;
          right: 0;
          font-weight: 200;
          transform-origin: center;
          transition: 200ms linear;
        }
      }
    }

    .detail-frete {

      summary {
        width: 100%;
        padding: 0.5rem 0;
        position: relative;
        cursor: pointer;
        font-weight: 300;
        list-style: none;

        font-size: 16px;
        color: #1E0E62;

        &::after {

          content: "+";
          position: absolute;
          font-size: 1.75rem;
          line-height: 0;
          margin-top: 0.75rem;
          right: 0;
          font-weight: 200;
          transform-origin: center;
          transition: 200ms linear;
        }
      }
    }
  }

  .share {
    display: flex;
    gap: 1em;
    align-items: center;

    p {
      font-size: 10px;
      opacity: 50%;
    }

    span {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background-color: #8F8F9F;
      border-radius: 100px;
      color: #FFFFFF;
    }
  }
}